
.landPage {
    background-image: url("images/2.png");
    background-repeat: no-repeat;
}

.topdresspage {
    background-image: url("images/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    background-image: url('images/2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    width: fit-content;
    font-size: 10em;
    margin: 0 auto;
    text-decoration: underline;
    color:rgb(123, 10, 10);
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(93, 6, 6, 0.5);
    line-height: 80px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
} 

header nav section {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header nav section img {
    width: 90px;
    object-fit: cover;
}

header nav ul {
    float:right;
    margin-right: 20px;
}

header nav ul li {
    display:inline-block;
    margin-right:10px;
}

header nav ul li a {
    color: white;
    text-decoration:none;
    font-size: 1.2em;
}

footer {
    background-color: rgba(61, 6, 6, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

.footerBoxes {
    display: flex;
    gap: 10px;
}

footer .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBoxes .footerTabs {
    width: 234px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px ;
}

.footerBoxes .footerTabs:hover{
    background-color: rgba(139, 144, 148, 0.5);
    text-decoration: underline;
}

.footerBoxes .footerTabs:hover {
background-color: rgba(31, 32, 32, 0.3);

color: aliceblue;
}

.footerBoxes .footerTabs ul li  {
    list-style: none;
    margin-block-end: 10px;
}

.footerBoxes .footerTabs ul li a  {
    text-decoration: none;
    color: darkred;
    display: inline-block;
    width: 200px;
    border-radius: 5px;
    font-size: larger;
    
}


.footerBoxes .footerTabs ul li a:hover{
    background-color: rgba(31, 32, 32, 0.3);
    color: aliceblue;
}

.footerBoxes .footerTabs h3 {
    margin-block-end: 10px ;
    color: white;
}

header section > a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;   
}

header section img {
    width: 90px;
    object-fit: cover;
}
 
/* TROUSERS PAGE DOCUMENTS */
.articleContainer {
    display: flex;
    margin-block-end: 20px;
}
.trousers_info{
    width: 300px;
    border: 1px solid white;
    padding: 10px; 
    color: white;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgba(61, 6, 6, 0.5);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_body {
    width: 1000px;
    padding: 10px;
    margin: auto;
}

.form_cont {
    width: 300px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
}

.form_cont form .tab {
    margin-block-end: 10px;
}

.form_cont form .tab input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(34, 32, 32) ;
}

.form_cont form .formBtn {
    width: 100%;
   padding: 3px 3px;
   color: aliceblue;
   background-color: black;
   border: 1px solid white;
   outline: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all .8s;
   margin-block-end: 18px;
   font-size: 1.1em;
}

#cancelBtn {
    width: 100%;
    border-radius: 1px solid white;
    
}




.form_cont form #cancelBtn:hover {
    background-color: darkred;
    letter-spacing: 2px;
}

.form_cont form #submitBtn:hover {
    background-color: green;
    letter-spacing: 2px;
}

.topDressPage  {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

 .form_cont .close_btn {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    color: aliceblue;
    font-size: 1.5em;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    transition: all .0.s;
 }


.close_btn {
    font-size: 24px;
    color: red;
    border: none;
    background: none;
    cursor: pointer;
}